<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446421403723-oetufskohclto7oe6m8qlt8he0oghl78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446421403723-oetufskohclto7oe6m8qlt8he0oghl78</string>
	<key>API_KEY</key>
	<string>AIzaSyDHoqHYaA25ud9idYSmWYaG5eZlfVKoYZo</string>
	<key>GCM_SENDER_ID</key>
	<string>446421403723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyberhoodie.Assemble</string>
	<key>PROJECT_ID</key>
	<string>assemble-852cf</string>
	<key>STORAGE_BUCKET</key>
	<string>assemble-852cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446421403723:ios:45ca417d586fb913cf25ce</string>
</dict>
</plist>